.container_ {
    margin: 0 auto;
    max-width: 800px;
    background-color: #8305;
}
.square {
    margin: 0 auto;
    background-color: #2356;
    width: 400px;
    height: 400px;
    border: 10px solid #000;

}
.square h1 {
    text-align: center;
}